.contenedor {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 30vh;
  }
  
  .titulo {
    text-align: center; /* Asegura que el texto esté centrado */
  }